.Navbar{
 padding: 30px 100px;
 background-color: rgb(40, 40, 40);
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}


.list{
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.links > a {
    text-decoration: none;
}

.links > a:hover{
    color: var(--secondary-color);
}

.links{
    margin-right: 25px;
    font-size: 16px;
    cursor: pointer;
}

.links:hover{
    color: var(--secondary-color); 
    opacity: 0.8;
}

.menu-icons{
    filter: invert(1);
    display: none;
    position:absolute;
    right: 20px;
    top: 45px;
    text-decoration: none;
 
}

.menu-icons:hover{
    opacity: 0.8;
    cursor: pointer;
}

.menu__icon{
    width: 20px;
}

.navbar__socials{
    display: flex;
    justify-content: space-between;
}


.socials__linkedin,
.socials__github{
    display:flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}


.socials__github:hover,
.socials__linkedin:hover{
    color: var(--secondary-color);
}


.navbar__linkedin,
.navbar__github{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-size: 20px 20px;
}


   /* PHONE VIEW */

@media screen and (max-width:1024px) {
    .Navbar{
        padding: 30px 100px 30px 30px;
    }

    .list{
        position: absolute;
        left: 0px;
        top: 110px;
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0;
        background-color: #333438;
        z-index: 100;
    }
    
    .links{
        top: 0;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.5);
        text-align: center;
        margin-top: 0;
        padding: 20px 0;
        opacity: 0.8;
    }

    .links:hover{
        opacity: 1;
    }

    .menu-icons{
        display: block;

    }
}


@media sceen and (max-width:768px){

    .Navbar{
        padding: 30px 50px;
    }

    .navbar__socials{
        justify-content: unset;
    }

    .socials__github,
    .socials__linkedin{
        display: none;
    }

    .navbar__github,
    .navbar__linkedin{
        margin-right: 30px;
    }
    
}

@media screen and (max-width:450px){
    .Navbar{
        padding: 30px 60px 30px 30px;
    }
    
}